<DOCTUPE html>
{% load static %}
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <title>Sansanovna</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <link rel="icon" href="{% static 'img/favicon.png' %}">

        <link href='http://fonts.googleapis.com/css?family=Quattrocento:400,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Patua+One' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <style>
            body {
                padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
            }
        </style>


        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <script type="text/javascript" src="{% static 'js/jquery.scrollTo-1.4.2-min.js' %}"></script>


        <script type="text/javascript" charset="utf-8">
            $(document).ready(function(){
                $("a[rel^='prettyPhoto']").prettyPhoto();
            });
        </script>
    </head>
<body>
    <div class="navbar-wrapper">
      <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
                <h1 class="brand"><a href="{% url 'home' %}">Сократитель</a></h1>
                <nav class="pull-right nav-collapse collapse">
                    <ul id="menu-main" class="nav">
                        <li><a title="sing_in" href="{% url 'signup' %}">Регистрация</a></li>
                        <li><a title="login" href="{% url 'login' %}">Авторизация</a></li>
                        {% if user.is_authenticated %}
                        <li><a title="links" href="{% url 'links' %}">Ссылки</a></li>
                        {% endif %}
                    </ul>
                </nav>
          </div>
        </div>
      </div>
    </div>
    <div id="headerwrap">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <h2>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h2>
            {% endfor %}
        </ul>
        {% endif %}

        {% block content %}

         {% endblock %}

    </div>
</body>
</html>
